{% extends "base_site.html" %}
{% load admin_list i18n %}
{% block extrahead %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(window).resize(function() {
           var window_height = $(window).height();
           var position = $("#changelist table").position();
           height = window_height - position.top;
           $("#changelist table.filtered").height(height);
           $("#changelist-filter").height(height);
        });
        $(window).resize();
      });
    </script>
{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block content %}
<div id="inventory-index-div" >
  <div class="module{% if item_changelist.has_filters %} filtered{% endif %}" id="changelist">
    {% block search %}{% search_form item_changelist %}{% endblock %}
 
    {% block pagination %}{% pagination item_changelist %}{% endblock %}

    {% block filters %}
    {% if item_changelist.has_filters %}
    <div id="changelist-filter">
      <h2 >{% trans 'Filter' %}</h2>
      {% for spec in item_changelist.filter_specs %}
         {% admin_list_filter item_changelist spec %}
         {% endfor %}
       </div>
    {% endif %}
    {% endblock %}
  {% block summary_stats %}
  <table class="{% if item_changelist.has_filters %} filtered{% endif %}">
    <thead >
      <tr >
        <td >Name</td>
        <td >Description</td>
      </tr>
    </thead>
    <tbody >
      {% for itemtype in item_changelist.result_list %}
      <tr >
        <td ><a href="/inventory/it/{{ itemtype.name }}/">{{ itemtype.name }}</a></td>
        <td >{{ itemtype.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</div>
{% endblock %}
