#header {
    background: #7F99BE url(/static/img/layout-browser-hd-bg.gif) repeat-x center;
}
#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}

#left_bar {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 172px;
    height: auto;
    min-height: 600px;
}

#main {
    position: relative;
    /* background: #BBBBFF; */
    width:auto;
    min-width:120px;
    padding: 10px;
    margin:0px 0px 0px 175px;
    min-height:600px;
}

div.msg {
    color: white;
    background: #880000;
}

div.htswdetail {
    margin: 0;
    padding: 0;
}
div.htswdetail table, div.htswdetail td {
    border-style: solid;
}
div.htswdetail table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}
div.htswdetail td {
    margin: 0;
    padding: 3px;
    border-width: 1px 1px 0 0;
}
div.htswdetail thead {
    text-align: center;
}
div.htswdetail tbody {
    text-align: left;
  }
div.htswdetail h1,
div.htswdetail h2
{
    font-size: 150%;
}

div.htswdetail h3 {
     font-size: 125%;
     margin: 0;
}

  div.htswdetail h4,
  div.htswdetail h5,
  div.htswdetail ul,
  div.htswdetail ol,
  div.htswdetail li
  {
    list-style: none;
    margin: 0;   
  }

  div.htswdetail ul,
  div.htswdetail ol
  {
    margin-bottom: .5em;
  }
 /* ]]> */
</style>
