table.djangocss, td.djangocss {
  border-style: solid;
}
table.djangocss {
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
}
thead.djangocss {
  text-align: center;
}
td.djangocss {
  margin: 0;
  padding: 4px;
  border-width: 1px 1px 0 0;
}
td.djangocss a {
  display: block;
}
