{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>

      <div class="module">
        <table>
          <caption><span style="color:red">New!</span> Reports <span style="color:black;font-size:80%">(Note: Some features currently work only on Firefox)</span></caption>
            <tr>
             <th scope="row"><a href="/reports/report" target=_self>ChIP-Seq Reports</a></th>
             <th scope="row"></th><td></td><td>&nbsp;</td><td></td><td>&nbsp;</td>
            </tr>
            <tr>
             <th scope="row"><a href="/reports/report_RM" target=_self>RNA-Seq Reports</a></th>
             <th scope="row"></th><td></td><td>&nbsp;</td><td></td><td>&nbsp;</td>
            </tr>
            <tr>
             <th scope="row"><a href="/reports/report_RM?exp=Methyl-seq" target=_self>Methyl-Seq Reports</a></th>
             <th scope="row"></th><td></td><td>&nbsp;</td><td></td><td>&nbsp;</td>
            </tr>
       </table>
       </div>
       <div class="module">
        <table>
          <caption>Docs & Tools</caption>
            <tr>
             <th scope="row"><a href="http://illumina-mac.stanford.edu/SequencingSummaries/SequencingSummary.html" target=_blank>Sequencing Summary Page</a></th>
             <th scope="row"></th>
             <td></td>
             <td>&nbsp;</td>
             <td></td>
             <td>&nbsp;</td>
            </tr>
            <tr>
             <th scope="row"><a href="http://m304-apple-server.stanford.edu/PrimerDesign" target=_blank>ChIP QC Primer Design</a>&nbsp;&nbsp;
             <a href="http://m304-apple-server.stanford.edu/ValidationDesign/" target=_blank>ChIP Validation Design</a>
             </th>
             <th scope="row"></th>
             <td></td>
             <td>&nbsp;</td>
             <td></td>
             <td>&nbsp;</td>
            </tr>
            <tr>
             <th scope="row"><a href="http://myers.hudsonalpha.org/content/protocols.html" target=_blank>Protocols - Myers Lab</a></th>
             <th scope="row"></th>
             <td></td>
             <td>&nbsp;</td>
             <td></td>
             <td>&nbsp;</td>
            </tr>
	     <tr>
             <th scope="row"><a href="https://woldlab.caltech.edu/html/protocols" target=_blank>Protocols - Wold Lab</a></th>             
             <th scope="row"></th>
             <td></td>
             <td>&nbsp;</td>
	     <td></td>
             <td>&nbsp;</td>
            </tr>
	    <tr>
             <th scope="row"><a href="http://www.ncbi.nlm.nih.gov/pubmed/18711362" target=_blank>QuEST</a></th>
             <th scope="row"></th>
             <td></td>
             <td>&nbsp;</td>
	    <td></td>
            <td>&nbsp;</td>
            </tr>
        </table>
        </div>
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
