*~
*.py[co]
.cache/
.coverage
*,cover
dist
docs/build/
*.egg-info
htsworkflow.kdev4
.kateproject
.kateproject.d/
.kdev4/
.noseids
.ropeproject
.tox
fctracker.db
htsworkflow/_version.py
RELEASE-VERSION
