{% extends "base_site.html" %}
{% load i18n %}

{% block additional_css %}{% load static %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
{% endblock %}

{% block title %}Login{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="container">
    <h1>Login</h1>
<form action="{{ app_path }}" method="post" id="login-form">
  {% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% translate 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% translate 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% translate 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
