{% extends "base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block extrahead %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(window).resize(function() {
           var window_height = $(window).height();
           var position = $("#changelist table").position();
           height = window_height - position.top;
           $("#changelist table.filtered").height(height);
           $("#changelist-filter").height(height);
        });
        $(window).resize();
      });
    </script>
{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block content %}
<div id="inventory-index-div" >
  <div class="module{% if item_changelist.has_filters %} filtered{% endif %}" id="changelist">
    {% block search %}{% search_form item_changelist %}{% endblock %}

    {% block pagination %}{% pagination item_changelist %}{% endblock %}

    {% block filters %}
    {% if item_changelist.has_filters %}
    <div id="changelist-filter">
      <h2 >{% trans 'Filter' %}</h2>
      {% for spec in item_changelist.filter_specs %}
         {% admin_list_filter item_changelist spec %}
         {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
  {% block summary_stats %}
  <table class="{% if item_changelist.has_filters %} filtered{% endif %}">
    <thead >
      <tr >
        <td >UUID</td>
        <td >Barcode ID</td>
        <td >Location</td>
        <td >Model</td>
        <td >Vendor</td>
        <td >Created</td>
        <td >Contains</td>
      </tr>
    </thead>
    <tbody >
      {% for item in item_changelist.result_list %}
      <tr about="{{ item.get_absolute_url }}">
        <td ><a href="{{ item.get_absolute_url}}" rel="invns:uuid">{{ item.uuid }}</a></td>
        <td ><a href="/inventory/{{ item.barcode_id }}/" rel="invns:barcode">{{ item.barcode_id }}</a></td>
        <td property="invns:location">{{ item.location }}</td>
        <td property="invns:item_type">{{ item.item_type }}</td>
        <td ></td>
        <td property="invnfs:creation_date" content="{{item.creation_date|date:'Y-m-d\TH:i:s'}}" datatype="xsd:dateTime">{{ item.creation_date }}</td>
        <td class="cell_list" >
          {% for content in item.longtermstorage_set.all %}
          <a href="{{content.flowcell.get_absolute_url}}" rel="libns:flowcell_id">{{ content.flowcell }}</a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  </div>
</div>
{% endblock %}
