{% extends "base_site.html" %}
{% load admin_list i18n %}
{% load staticfiles %}
{% block extrahead %}
    <!-- App Stuff -->
    <link type="text/css" rel="stylesheet" href="{% static "css/app.css" %}"/>

    {% block additional_javascript %}
    <script type="text/javascript" src="{% static "js/htsw.js" %}"></script>
    {% endblock %}
{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}

{% block content %}
<div id="library_header_link">
{% if todo_only %}<a href="..">All</a>{% else %}<a href="not_run/">Not run</a>
{% endif %}
</div>
<div id="library-index-div" >
  <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
    {% block search %}{% search_form cl %}{% endblock %}

    {% block pagination %}{% pagination cl %}{% endblock %}

    {% block filters %}
    {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2 >{% trans 'Filter' %}</h2>
      {% for spec in cl.filter_specs %}
         {% admin_list_filter cl spec %}
         {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
  {% block summary_stats %}
  <table class="{% if cl.has_filters %} filtered{% endif %}">
    <thead >
      <tr >
        <td >Parent</td>
        <td >Library ID</td>
        <td >Species</td>
        <td >Library Name</td>
        <td colspan="3" >Single</td>
        <td colspan="3" >Paired</td>
        <td >HD</td>
      </tr>
      <tr >
        <td colspan="4"></td>
        <td>&lt;40</td>
        <td>&lt;100</td>
        <td>100+</td>
        <td>&lt;40</td>
        <td>&lt;100</td>
        <td>100+</td>
        <td></td>
      </tr>
    </thead>
    <tbody >
      {% for lib in library_list %}
      <tr typeof="libns:Library" about="{{lib.get_absolute_url}}">
        <td >
          <a href="{{lib.amplified_from_sample.get_absolute_url }}">
            {{ lib.amplified_from_sample.id }}
          </a>
        </td>
        <td >
          <a href="{{lib.get_absolute_url}}">
            <span property="libns:library_id">{{ lib.id }}</span>
          </a>
        </td>
        <td rel="libns:species">
          <a typeof="libns:Species"
             href="{{ lib.library_species.get_absolute_url }}">
            <span property="libns:species_name">{{ lib.library_species.scientific_name }}</span>
          </a>
        </td>
        <td >
          <a href="{{ lib.get_absolute_url }}">
            <span property="libns:name">{{ lib.library_name }}</span>
          </a>
        </td>
        {% for ended in lib.lanes_sequenced %}
          {% cycle '#00BFFF' '#66CDAA' as bincolor silent %}
          {% for bin in ended %}
          <td bgcolor="{{ bincolor }}">{% if bin %}{{ bin }}{% endif %}</td>
          {% endfor %}
        {% endfor %}
        {% if lib.is_archived %}
          <td ><img src="{% static "img/hdd_unmount.png" %}" alt="Archived" /></td>
        {% else %}
          <td ></td>
        {% endif %}
      </tr>
      {% empty %}
      <tr><td colspan="0">No results found</td></tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% endblock %}
</div>
{% endblock %}
