<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{{ app_name }} - {{ page_name }}{% endblock %}</title>
    
    <!-- ADMIN STYLE INTERFACE STUFF -->
    {% block additional_css %}
    {% endblock %}
    
    <!-- App Stuff -->
    <link type="text/css" rel="stylesheet" href="/static/css/app.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    
    {% block additional_javascript %}
    {% endblock %}
    
    <script type="text/javascript" src="/static/js/htsw.js"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ body }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</body>
</html>
