<div id="librarydetail"  about="{{lib.get_absolute_url}}">
  <div class="library_identity">
    <h2>Library Name</h2>
    <b>Library ID</b>:
       <a href="{{lib.get_absolute_url}}"><span property="libns:library_id">{{ lib.id }}</span></a>
       {% if user.is_staff %}<a href="{{lib.get_admin_url}}"><img class="icon_button" src="/media/img/admin/icon_changelink.gif"/></a>{% endif %}
       <br rel="rdf:type" resource="libns:library"/>
    <b>Name</b>:
      <span property="libns:name">{{ lib.library_name }}</span>
    <br/>
    <b>Affiliations</b>:
    <ul>
      {% for individual in lib.affiliations.all %}
        <li property="libns:affiliation" content="{{individual.name}}">
          {{ individual.name }} ( {{ individual.contact }} )
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="library_sample_detail">
    <h2>Sample Details</h2>
    <b>Species</b>:
      <span property="libns:species" content="{{lib.library_species.scientific_name}}"><a href="{{lib.library_species.get_absolute_url}}">{{ lib.library_species.scientific_name }}</a></span>
    <br/>
    <b>Experiment Type</b>:
       <span property="libns:experiment_type">{{ lib.experiment_type }}</span>
    <br/>
    {% if lib.antibody %}
    <b>Antibody</b>:
       <span property="libns:antibody">{{ lib.antibody.antibodies }}</span>
       {% if lib.antibody.antibodies.nickname %}
       (<span property="libns:antibody_term">{{ lib.antibody.nickname }}</span>)
       {% endif %}
    <br/>
    {% endif %}
    {% if lib.cell_line %}
    <b>Background or Cell Line</b>:
       <span property="libns:cell_line">{{ lib.cell_line }}</span>
    <br/>
    {% endif %}
    {% if lib.condition %}
    <b>Condition</b>:
       <span property="libns:condition">{{ lib.condition.condition_name }}</span>
       {% if lib.condition.nickname %}
       (<span property="libns:condition_term">{{ lib.condition.nickname }}</span>)
       {% endif %}
    <br/>
    {% endif %}
    {% if lib.replicate %}
    <b>Replicate</b>:
       <span property="libns:replicate">{{ lib.replicate }}</span>
    <br/>
    {% endif %}
  </div>
  <div class="library_library_detail">
    <h2>Library Details</h2>
    <b>Library Type</b>:
       <span property="libns:library_type">{{ lib.library_type }}</span>
    <br/>
    <b>Multiplex Index</b>:
       <span property="libns:multiplex_index">{{ lib.index_sequence_text }}</span>
    <br/>
    <b>Creation Date</b>
      <span property="libns:date" content="{{lib.creation_date|date:'Y-m-d'}}T00:00:00" datatype="xsd:dateTime">{{ lib.creation_date }}</span>
    <br/>
    <b>Made By</b>:
      <span property="libns:made_by">{{ lib.made_by }}</span>
    <br/>
    {% if lib.gel_cut_size %}
    <b>Gel Cut Size</b>:
      <span property="libns:gel_cut" datatype="xsd:decimal">{{ lib.gel_cut_size }}</span>
    <br/>
    {% endif %}
    {% if lib.insert_size %}
    <b>Insert Size</b>:
      <span property="libns:insert_size" datatype="xsd:decimal">{{ lib.insert_size }}</span>
    <br/>
    {% endif %}
    {% if lib.undiluted_concentration %}
    <b>Concentration</b>:
      <span property="libns:concentration">{{ lib.undiluted_concentration }} ng/µl</span>
    <br/>
    {% endif %}
    {% if lib.stopping_point_name %}
    <b>Protocol Stopping Point</b>
      <span property="libns:stopping_point">{{ lib.stopping_point_name }}</span>
    <br/>
    {% endif %}
  </div>
