{% load i18n %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      version="XHTML+RDFa 1.0"
      xmlns:xml="http://www.w3.org/XML/1998/namespace"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
      xmlns:libns="http://jumpgate.caltech.edu/wiki/LibraryOntology#"
      xmlns:invns="http://jumpgate.caltech.edu/wiki/InventoryOntology#"
      xml:lang="en"
>
<!--base.html-->
<head>
    <title>{% block title %}{{ app_name }} - {{ page_name }}{% endblock %}</title>

{% block additional_css %}
    {% load static %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "css/rtl.css" %}{% endblock %}" />{% endif %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/data-browse-index.css" %}" />
{% endblock %}

</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}>"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        <div id="user-tools">
        {% if user.is_authenticated %}
            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if user.is_active and user.is_staff %}
                    {% url "django.admindocs.docroot" as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
            {% endblock %}
        {% else %}
            <a href="{% url 'login' %}">{% translate 'Log in' %}</a>
        {% endif %}
        </div>
        {% endblock usertools %}
        {% block nav-global %}{% endblock %}
    </div>
    {% endif %}
    {% block breadcrumbs %}{% endblock %}
    {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
<!-- END Container -->
</div>
</body>
</html>
