{% extends "base_site.html" %}
{% load adminmedia humanize i18n %}
{% block extrahead %}
    <!-- App Stuff -->
    <link type="text/css" rel="stylesheet" href="/static/css/app.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    
    {% block additional_javascript %}
    {% endblock %}

{% endblock %}

{% block content %}
<div id="library_detail">
  <h2>About this library</h2>
  <b>Library ID</b>: {{ lib.id }}<br/>
  <b>Name</b>: 
    <span property="libns:name">{{ lib.library_name }}</span>
  <br/>
  <b>Species</b>: 
    <a href="{{lib.library_species.get_absolute_url}}" rel="libns:species">
    <span property="libns:species_name">{{ lib.library_species.scientific_name }}</span></a>
  <br/>
  <b>Concentration</b>: 
    <span property="libns:concentration">{{ lib.undiluted_concentration }} ng/µl</span>
  <br/>
  <b>Gel Cut Size</b>: 
    <span property="libns:gel_cut">{{ lib.gel_cut_size }}</span>
  <br/>
  <b>Insert Size</b>: 
    <span property="libns:insert_size">{{ lib.insert_size }}</span>
  <br/>
  <b>Background or Cell Line</b>:
     <span property="libns:cell_line">{{ lib.cell_line }}</span>
  <br/>
  <b>Replicate</b>: 
     <span property="libns:replicate">{{ lib.replicate }}</span>
  <br/>
  <b>Library Type</b>:
     <span property="libns:library_type">{{ lib.library_type }}</span>
  <br/>
  <b>Experiment Type</b>:
     <span property="libns:experiment_type">{{ lib.experiment_type }}</span>
  <br/>
  <b>Made By</b>: 
    <span property="libns:made_by">{{ lib.made_by }}</span>
  <br/>
  <b>Creation Date</b>
    <span property="libns:date" content="{{lib.creation_date|date:'Y-m-d'}}T00:00:00" datatype="xsd:dateTime">{{ lib.creation_date }}</span>
  <br/> 
  <b>Protocol Stopping Point</b>
    <span property="libns:stopping_point">{{ lib.stopping_point_name }}</span>
  <br/> 
  <b>Affiliations</b>:
  <ul>
    {% for individual in lib.affiliations.all %}
      <li property="libns:affliation" content="{{individual.name}}">
        {{ individual.name }} ( {{ individual.contact }} )
      </li>
    {% endfor %}
  </ul>
  <div class="htswdetail">
  <h2>Raw Result Files</h2>
  <table>
  <thead>
    <tr>
      <td>Run Start Date</td>
      <td>Cycle</td>
      <td>Flowcell</td>
      <td>Lane</td>
      <td>Summary</td>
      <td>Eland</td>
      <td>Bed</td>
      <td>Archived</td>
    </tr>
  </thead>
  <tbody>
    {% for result in eland_results %}
    <tr about="{{result.flowcell.get_absolute_url}}">
      <td property="libns:date" content="{{result.run_date|date:'Y-m-d\TH:i:s'}}" datatype="xsd:dateTime">{{ result.run_date|date}}</td>
      <td>{{ result.cycle }}</td>
      <td><a href="{{result.flowcell.get_absolute_url}}"><span property="libns:flowcell_id">{{ result.flowcell_id }}</span></a></td>
      <td><a href="{{result.lane.get_absolute_url}}" rel="libns:has_lane"><span property="libns:lane_number" datatype="xsd:decimal">{{ result.lane.lane_number }}</span></a></td>
      <td><a href="{{ result.summary_url }}">Summary</a></td>
      <td><a href="{{ result.result_url }}">{{ result.result_label }}</a></td>
      <td>
      {% if result.bed_url %}
        <a href="{{ result.bed_url }}">Bed</a>
      {% endif %}
      </td>
      <td>
        {% if result.storage_ids %}
          {{ result.storage_ids|safe }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  
  <h2>Lane Summary Statistics</h2>
  {% block summary_stats %}
  <table>
    <thead>
      <tr>
        <td colspan="7"></td>
        <td colspan="2">No Match</td>
        <td colspan="2">QC Failed</td>
        <td colspan="4">Unique</td>
        <td colspan="4">Repeat</td>
      </tr>
      <tr>
      <td>Cycles</td>
      <td>Flowcell</td>
      <td>Lane</td>
      <td>End</td>
      <td>Cluster / Tile</td>
      <td>pM</td>
      <td>Raw Reads</td>
      <td>total</td>
      <td>%</td>
      <td>total</td>
      <td>%</td>
      <td>0 mismatch</td>
      <td>1 mismatch</td>
      <td>2 mismatch</td>
      <td>Total</td>
      <td>0 mismatch</td>
      <td>1 mismatch</td>
      <td>2 mismatch</td>
      <td>Total</td>
      </tr>
    </thead>
    <tbody>
  
      {% for lane in lane_summary_list %}
      <tr about="/flowcell/{{lane.flowcell_id}}/{{lane.lane_id}}/{% if lane.end %}#end{{ lane.end }}{% endif %}">
        <td>{{ lane.cycle_width }}</td>
        <td>{{ lane.flowcell_id }}</td>
        <td>{{ lane.lane_id }}</td>
        <td>{% if lane.end %}{{ lane.end }}{% endif %}</td>
        <td>{{ lane.clusters.0|intcomma }}</td>
        <td>{{ lane.successful_pm }}</td>
        <td>{{ lane.reads|intcomma }}</td>
        <td>{{ lane.no_match|intcomma }}</td>
        <td>{{ lane.no_match_percent|stringformat:".2f" }}</td>
        <td>{{ lane.qc_failed|intcomma }}</td>
        <td>{{ lane.qc_failed_percent|stringformat:".2f" }}</td>
        <td>{{ lane.match_codes.U0|intcomma }}</td>
        <td>{{ lane.match_codes.U1|intcomma }}</td>
        <td>{{ lane.match_codes.U2|intcomma }}</td>
        <td {% if lane.unique_reads %}property="libns:total_unique_locations" content="{{lane.unique_reads}}" datatype="xsd:decimal"{% endif %}>{{ lane.unique_reads|intcomma }}</td>
        <td>{{ lane.match_codes.R0|intcomma }}</td>
        <td>{{ lane.match_codes.R1|intcomma }}</td>
        <td>{{ lane.match_codes.R2|intcomma }}</td>
        <td>{{ lane.repeat_reads|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Flowcell Notes</h2>
  <table>
    <thead>
      <tr>
    	<td>Flowcell ID</td>
    	<td>Lane</td>
    	<td>Comment</td>
      </tr>
    </thead>
    <tbody>
      {% for lane in lib.lane_set.all %}
      <tr rel="libns:has_lane" resource="{{lane.get_absolute_url}}">
        <td><a href="{{lane.flowcell.get_absolute_url}}" rel="libns:flowcell">
            <span property="libns:flowcell_id">{{ lane.flowcell.flowcell_id }}</span></a></td>
        <td><a href="{{lane.get_absolute_url}}"> 
            <span property="libns:lane_number"  datatype="xsd:decimal"
               >{{ lane.lane_number }}</span></a></td>
        <td>{{ lane.comment }}</td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  </div>
</div>
{% endblock %}
