{% extends "base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
    {% block search %}{% search_form cl %}{% endblock %}

    {% block filters %}
    {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2>{% trans 'Filter' %}</h2>
      {% for spec in cl.filter_specs %}
         {% admin_list_filter cl spec %}
         {% endfor %}
       </div>
       {% endif %}
       {% endblock %}

  
 {% block pagination %}{% pagination cl %}{% endblock %}

{% block summary_stats %}
<table class="libtable">
  <thead class="libtable">
    <tr>
    <td>Parent</td>
    <td>Library ID</td>
    <td>Species</td>
    <td>Library Name</td>
    <td>Total Lanes</td>
    <td>HD</td>
    </tr>
  </thead>
  <tbody class="libtable">
    {% for lib in library_list %}
    <tr class="libtable">
      <td class="libtable"><a href="/library/{{ lib.library_id }}">{{ lib.amplified_from }}</a></td>
      <td class="libtable"><a href="/library/{{ lib.library_id }}">{{ lib.library_id }}</a></td>
      <td class="libtable"><a href="/library/{{ lib.library_id }}">{{ lib.species_name }}</a></td>
      <td class="libtable"><a href="/library/{{ lib.library_id }}">{{ lib.library_name }}</a></td>
      <td class="libtable">{{ lib.lanes_run }}</td>
      {% if lib.is_archived %}
        <td class="libtable"><img src="/static/img/hdd_unmount.png" alt="Archived" /></td>
      {% else %}
        <td class="libtable"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
{% endblock %}
