{% extends "base_site.html" %}
{% load adminmedia humanize i18n %}
{% block extrahead %}
    <!-- App Stuff -->
    <link type="text/css" rel="stylesheet" href="/static/css/app.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    
    {% block additional_javascript %}
    {% endblock %}
{% endblock %}

{% block content %}
  {% include "sample_header.html" %}
  <hr/>
  <div class="library_statistics">
  <h2>Raw Result Files</h2>
  <table>
  <thead>
    <tr>
      <td>Run Start Date</td>
      <td>Cycle</td>
      <td>Flowcell</td>
      <td>Lane</td>
      <td>Summary</td>
      <td>Eland</td>
      <td>Bed</td>
      <td>Archived</td>
    </tr>
  </thead>
  <tbody>
    {% for result in eland_results %}
    <tr about="{{result.flowcell.get_absolute_url}}">
      <td property="libns:date" content="{{result.run_date|date:'Y-m-d\TH:i:s'}}" datatype="xsd:dateTime">{{ result.run_date|date}}</td>
      <td>{{ result.cycle }}</td>
      <td><a href="{{result.flowcell.get_absolute_url}}"><span property="libns:flowcell_id">{{ result.flowcell_id }}</span></a></td>
      <td><a href="{{result.lane.get_absolute_url}}" rel="libns:has_lane"><span property="libns:lane_number" datatype="xsd:decimal">{{ result.lane.lane_number }}</span></a></td>
      <td><a href="{{ result.summary_url }}">Summary</a></td>
      <td><a href="{{ result.result_url }}">{{ result.result_label }}</a></td>
      <td>
      {% if result.bed_url %}
        <a href="{{ result.bed_url }}">Bed</a>
      {% endif %}
      </td>
      <td>
        {% if result.storage_ids %}
          {{ result.storage_ids|safe }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  
  <h2>Lane Summary Statistics</h2>
  {% block summary_stats %}
  <table>
    <thead>
      <tr>
        <td colspan="7"></td>
        <td colspan="2">No Match</td>
        <td colspan="2">QC Failed</td>
        <td colspan="4">Unique</td>
        <td colspan="4">Repeat</td>
      </tr>
      <tr>
      <td>Cycles</td>
      <td>Flowcell</td>
      <td>Lane</td>
      <td>End</td>
      <td>Cluster / Tile</td>
      <td>pM</td>
      <td>Raw Reads</td>
      <td>total</td>
      <td>%</td>
      <td>total</td>
      <td>%</td>
      <td>0 mismatch</td>
      <td>1 mismatch</td>
      <td>2 mismatch</td>
      <td>Total</td>
      <td>0 mismatch</td>
      <td>1 mismatch</td>
      <td>2 mismatch</td>
      <td>Total</td>
      </tr>
    </thead>
    <tbody>
  
      {# ls short for lane summary #}
      {% for ls in lane_summary_list %}
      <tr about="{{ls.lane.get_absolute_url">
        <td>{{ ls.cycle_width }}</td>
        <td><a href="{{ls.flowcell.get_absolute_url}}">{{ ls.flowcell_id }}</a></td>
        <td><a href="{{ls.lane.get_absolute_url}}">{{ ls.lane_id }}</a></td>
        <td>{% if ls.end %}{{ ls.end }}{% endif %}</td>
        <td>{{ ls.clusters.0|intcomma }}</td>
        <td>{{ ls.successful_pm }}</td>
        <td>{{ ls.reads|intcomma }}</td>
        <td>{{ ls.no_match|intcomma }}</td>
        <td>{{ ls.no_match_percent|stringformat:".2f" }}</td>
        <td>{{ ls.qc_failed|intcomma }}</td>
        <td>{{ ls.qc_failed_percent|stringformat:".2f" }}</td>
        <td>{{ ls.match_codes.U0|intcomma }}</td>
        <td>{{ ls.match_codes.U1|intcomma }}</td>
        <td>{{ ls.match_codes.U2|intcomma }}</td>
        <td {% if ls.unique_reads %}property="libns:total_unique_locations" content="{{ls.unique_reads}}" datatype="xsd:decimal"{% endif %}>{{ ls.unique_reads|intcomma }}</td>
        <td>{{ ls.match_codes.R0|intcomma }}</td>
        <td>{{ ls.match_codes.R1|intcomma }}</td>
        <td>{{ ls.match_codes.R2|intcomma }}</td>
        <td>{{ ls.repeat_reads|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Flowcell Notes</h2>
  <table>
    <thead>
      <tr>
    	<td>Flowcell ID</td>
    	<td>Lane</td>
    	<td>Comment</td>
      </tr>
    </thead>
    <tbody>
      {% for lane in lib.lane_set.all %}
      <tr rel="libns:has_lane" resource="{{lane.get_absolute_url}}">
        <td><a href="{{lane.flowcell.get_absolute_url}}" rel="libns:flowcell">
            <span property="libns:flowcell_id">{{ lane.flowcell.flowcell_id }}</span></a></td>
        <td><a href="{{lane.get_absolute_url}}"> 
            <span property="libns:lane_number"  datatype="xsd:decimal"
               >{{ lane.lane_number }}</span></a></td>
        <td>{{ lane.comment }}</td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  </div>
</div>
{% endblock %}
